<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Universidad de Sonora</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}" style="font-size: 24px; font-weight: bold;">
                Biblioteca de Revistas
              </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Inicio</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('area') }}">Área</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('catalogo') }}">Catálogos</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('explorar') }}">Explorar</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('busqueda') }}">Búsqueda</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('creditos') }}">Créditos</a></li>
            </ul>
      
            <a class="navbar-brand ml-auto" href="{{ url_for('index') }}">
              <img src="{{ url_for('static', filename='img/logo_unison.png') }}" alt="Logo Universidad de Sonora" width="80" height="80">
            </a>
          </div>
        </div>
      </nav>      
  <div class="container mt-4">
    {% block content %}{% endblock %}
  </div>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        let searchInput = document.getElementById("searchInput");
        let dataTable = document.getElementById("dataTable").getElementsByTagName("tbody")[0];
    
        if (searchInput) {
            searchInput.addEventListener("keyup", function() {
                let filter = searchInput.value.toLowerCase();
                let rows = dataTable.getElementsByTagName("tr");
    
                for (let i = 0; i < rows.length; i++) {
                    let titleCell = rows[i].getElementsByTagName("td")[0];
                    if (titleCell) {
                        let titleText = titleCell.textContent || titleCell.innerText;
                        rows[i].style.display = titleText.toLowerCase().includes(filter) ? "" : "none";
                    }
                }
            });
        }
    });
    </script>    
</body>
</html>