{% extends "base.html" %}
{% block content %}
  <h1>{{ title }}</h1>

  <!-- Campo de búsqueda dentro de la tabla -->
  <input type="text" id="searchInput" class="form-control mb-3" placeholder="Buscar revista...">

  <table class="table table-bordered table-hover" id="dataTable">
    <thead>
      <tr>
        <th>Título</th>
        <th>H-Index</th>
      </tr>
    </thead>
    <tbody>
      {% for key, journal in journals.items() %}
      <tr>
        <td><a href="{{ url_for('revista', journal_id=key) }}">{{ key }}</a></td>
        <td>{{ journal.h_index }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}